/*
 * GENERIC
*/
html, body {
	height:100%;
	margin:0px;
	padding:0px;
	font-family: "vodafone_ltregular";
}

@charset "UTF-8";@font-face{font-family:'vodafone_rgregular';src:url('fonts/vodafonerg-webfont.eot');src:url('fonts/vodafonerg-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/vodafonerg-webfont.woff') format('woff'),url('fonts/vodafonerg-webfont.ttf') format('truetype'),url('fonts/vodafonerg-webfont.svg#vodafone_rgregular') format('svg');font-weight:normal;font-style:normal}
@font-face{
	font-family:'vodafone_rgbold';
	src:url('fonts/vodafonerg_bd-webfont.eot');
	src:url('fonts/vodafonerg_bd-webfont.eot?#iefix') format('embedded-opentype');
	src:url('fonts/vodafonerg_bd-webfont.woff') format('woff');
	src:url('fonts/vodafonerg_bd-webfont.ttf') format('truetype');
	src:url('fonts/vodafonerg_bd-webfont.svg#vodafone_rgbold') format('svg');
	font-weight:bold;
	font-style:normal
}
@font-face{
	font-family:'vodafone_ltregular';
	src:url('fonts/vodafonelt-webfont.eot');
	src:url('fonts/vodafonelt-webfont.eot?#iefix') format('embedded-opentype'), 
	url('fonts/vodafonelt-webfont.woff') format('woff'), 
	url('fonts/vodafonelt-webfont.ttf') format('truetype'), 
	url('fonts/vodafonelt-webfont.svg#vodafone_ltregular') format('svg');
	font-weight:200;
	font-style:normal
}

.homep .container-fluid {
	opacity:0;
}

.container-fluid, .row { 
	height:100%; 
}

.navbar-white { 
	background-color: #ffffff;
}

.clear { 
	clear:both; 
}

.row { 
	height:100%; 
}

.abs { 
	position:absolute; 
}

h1 {
	font-family: "vodafone_ltregular"; 
	font-weight: 100;
}

iframe {
	border:0;
}

.centered { 
	width: auto; 
	margin: 0 auto; 
	text-align: center; 
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}


/*
 * PAN LEFT
*/	
.pan-left {
  	height: 100%;
}

/*ogni pagina ha il suo sfondo di pan-left*/
.homep .pan-left {
	background: url('../../resources/images/bghome.jpg') no-repeat scroll 0px 100% / cover transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../resources/images/bghome.jpg',sizingMethod='scale')";

}

.storiap .pan-left {
	background: url('../../resources/images/bgstoria.jpg') no-repeat scroll 0px 100% / cover transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../resources/images/bgstoria.jpg',sizingMethod='scale')";
}

.distrp .pan-left {
	background: url('../../resources/images/bgdistr.png') no-repeat scroll center black;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../resources/images/bgdistr.png',sizingMethod='scale')";
}
}

.marchip .pan-left {
	background: url('../../resources/images/bgmarchi.png') no-repeat scroll 0px 100% / cover transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../resources/images/bgmarchi.png',sizingMethod='scale')";
}

.pan-left .middle-left {
 	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
   	height: 420px;
}

.pan-left .middle-left .payoff-cont > h1 {
  color: white;
  font-family:"vodafone_ltregular";
  font-size: 65px;
  margin: 0;
}

.pan-left .middle-left .payoff-cont > p.p2 {
  color: white;
  font-family: "vodafone_rgregular";
  font-size: 20px;
  text-transform: lowercase;
}

.pan-left .middle-left .payoff-cont > a.link-button {
  background: rgba(255, 255, 255, 0.6);
  color: #333;
  display: block;
  width: 200px;
  height: 45px;
  margin: 0 auto;
  padding: 9px;
  margin-top: 35px;
  font-size: 20px;
  font-family: "vodafone_rgregular";
}

.pan-left .social {
	bottom:20px;
	right:20px;
	width:200px;
	height:35px;
}

.pan-left .social > div {
	width:35px; height:35px;
	float:left;
	margin-right:15px;
}

.pan-left .social .fb {
	background: url('../../resources/images/fb.png') no-repeat scroll 0px 100% / cover transparent;
}
.pan-left .social .fb:hover {
	background: url('../../resources/images/fb-h.png') no-repeat scroll 0px 100% / cover transparent;
}

.pan-left .social .goog {
	background: url('../../resources/images/g.png') no-repeat scroll 0px 100% / cover transparent;
}
.pan-left .social .goog:hover {
	background: url('../../resources/images/g-h.png') no-repeat scroll 0px 100% / cover transparent;
}

.pan-left .social .insta {
	background: url('../../resources/images/inst.png') no-repeat scroll 0px 100% / cover transparent;
}
.pan-left .social .insta:hover {
	background: url('../../resources/images/inst-h.png') no-repeat scroll 0px 100% / cover transparent;
}



/*
 * PAN RIGHT
*/	
.pan-right {
  	height: 500px;
  	background:#FFF;
	float: left;
}

.pan-right .link-icons {
	position:absolute;
	bottom:20px;
	right: 20px
}

.right-header .logo-holder {
	margin:0 auto;
	float:none;
	text-align:center;
	width: auto;
}


/*
 * NAV
*/
.navbar { 
	margin-top:20px; 
}

.navbar ul.navigation {
	list-style-type: none;
	padding-left: 0px;
	text-align:center;
}

.navbar ul.navigation > li {
	display: inline-block;
  	margin: 0px 10px 0px 11px;
}

.navbar ul.navigation > li > a {
	text-transform: uppercase;
	color: #4B5156;
   	font-family: vodafone_rgregular,Arial,Helvetica,sans-serif;
}

.hover-el {
	display:none;
  	border: 3px solid #333;
  	width: 18px;
  	margin: 0 auto;
  	height: 1px;
}

.navbar ul.navigation > li:hover a { text-decoration:none !important;}
.navbar ul.navigation > li:hover .hover-el { display:block;}
.navbar ul.navigation > li.active .hover-el {
	display:block;
}

.pan-right div.info-content {
	margin-top:200px;
  	padding: 10px;
	min-height:50px;
	margin:0 auto;
  	width: auto;
  	margin-top: 135px;
  	max-width: 590px;
}

.pan-right div.info-content .box-cont img {
	height:109px;
}
.pan-right div.info-content .box-cont .first-row div.box, .pan-right div.info-content .box-cont .second-row div.box {
	float:left;
}
.pan-right div.info-content .box-cont > a { display:block; }
.pan-right div.info-content .box-cont .first-row .b1, 
.pan-right div.info-content .box-cont .first-row .b2 {
	border-right:1px solid #333;
	border-bottom:1px solid #333;
}
.pan-right div.info-content .box-cont .first-row .b3 {
	border-bottom:1px solid #333;
}

.pan-right div.info-content .box-cont .second-row .b4,
.pan-right div.info-content .box-cont .second-row .b5 {
	border-right:1px solid #333;
	border-left:1px solid #333;
}



/*
 * BOX ICONS
*/
.pan-right div.info-content .box-cont .first-row img, .pan-right div.info-content .box-cont .second-row img {
  	padding: 15px;
  	transition:0.5s ease;
}

.pan-right div.info-content .box-cont .first-row .b2 img {
  	padding: 10px;
  	padding-top: 12px;
}
.pan-right div.info-content .box-cont .first-row .b3 img {
  	padding: 10px;
  	padding-top: 7px;
}
.pan-right div.info-content .box-cont .second-row .b5 img {
  	padding: 17px;
  	padding-top: 10px;
   	padding-left: 27px;
}
.pan-right div.info-content .box-cont .first-row img:hover, .pan-right div.info-content .box-cont .second-row img:hover {
	opacity:0.6;
}

.pan-right div.info-content .box-cont .active {
	background:#EEE;
}


.pan-right div.info-content .text-cont .paragraph {
	font-size:19px;
}


/*
 * CONTATTI
*/
.contattip .map {
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	right: 0px;
  	bottom: 0px;
}

/*
 * BXSLIDER
*/
.bx-wrapper img {
  	display: block;
  	width: 100%;
  	max-height:900px;
}

.bx-wrapper .bx-viewport {
	border:0  !important;
	box-shadow: none;
	left:0  !important;
	background:transparent !important;
}

/*
 * CLICK AND SEND FORM
*/
.clicksendp .clicksend-cont {
  	background-color: #e9e9e9;
  	height: 100%;
 	padding:10px;
}

.clicksendp .form-inner-wrapper {
	padding:15px;
	border-top:1px solid white;
	border-bottom:1px solid white;
  	width: 30%;
  	min-width: 270px;
  	margin: 0 auto;
}

.clicksendp .pan-left .middle-left {
	height:600px;
}

.clicksend-cont form#contactf .form-head h1 {
	color:#344856;
}

.clicksend-cont form#contactf input, .clicksend-cont textarea {
	background:#959595;
	color:black;
	font-size:19px;
	width:100%;
	margin-top:15px;
	border:0;
	padding:10px;
}

.clicksend-cont form#contactf a.submit {
	display:block;
	font-size:25px;
	color:#344856;
	float:right;
}

.clicksend-cont textarea {
  	width: 100%;
  	height:150px;
 }


 .logo-cont {
 	  margin-bottom: 5px;
 	  background:#ddd; 
 	  width:120px; height:50px; 
 	  margin-right:5px; 
 	  float:left;
 }


/*
 * PHOTO GRID, AZIENDA
*/
div.photo-grid {
	width:100%;
	position:relative;
	height:100%;
}

div.photo-grid .node-title {
  position: absolute;
  bottom: 35px;
  padding: 10px;
  width: 50%;
  min-width: 100px;
}
div.photo-grid a { color:black; text-decoration: none; }
div.photo-grid .node-title:hover { color:white; }

div.photo-grid .node-title .name h2 {   margin-top: 0; }

.t-right { right:0px; text-align:right; padding-right:30px;}
.t-right .name { padding-left: 20px; }
.t-left { left:0px; padding-left:30px; text-align:left;  }
.t-left .name {  padding-right: 20px; }

/*hover e active*/
.t3:hover, .active .t3 { background:rgb(138, 47, 213); }
.t1:hover, .active .t1 { background:rgb(24, 154, 152); }
.t2:hover, .active .t2 { background:rgb(219, 36, 144); }
.t4:hover, .active .t4 { background:rgb(221, 75, 38); }

div.photo-grid .node-title .name {
  border-bottom: 1px solid #333;
}

 .node {
	border:1px solid white;
	position:relative;
	height:50%;
	width:50%;
	float:left;
}

.node {
	width:50%; 
	height:50%; 
	float:left; 
	background-size:cover;
	overflow: hidden;
}

.node-1 {
	background-image: url('../../resources/images/node1.png'); 
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../../resources/images/node1.png', sizingMethod='scale') no-repeat center;
}

.node-2 {
	background-image: url('../../resources/images/node2.png'); 
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../../resources/images/node1.png', sizingMethod='scale') no-repeat center;
}

.node-3 {
	background-image: url('../../resources/images/node3.png'); 
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../../resources/images/node1.png', sizingMethod='scale') no-repeat center;
}

.node-4 {
	background-image: url('../../resources/images/node4.png'); 
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../../resources/images/node1.png', sizingMethod='scale') no-repeat center;
}



.slider-btn { position:absolute; top:50%; }
.slider-btn a { color:white; text-decoration: none; font-size:50px; }
#slider-prev { left:20px;}
#slider-next {right: 20px;}

#bx-pager { 
    width: 220px;
  position: absolute;
  left: 50%;
  margin-left: -110px;
  bottom:0px;
}

#bx-pager img { border:2px solid white;}

.catalogop .middle-left, .gallery .middle-left  {   height: 590px; }

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
	body { display:none;}
}


