body {
	font-family:'vodafone_rgregular';
	padding-bottom:50px;
}

@charset "UTF-8";@font-face{font-family:'vodafone_rgregular';src:url('fonts/vodafonerg-webfont.eot');src:url('fonts/vodafonerg-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/vodafonerg-webfont.woff') format('woff'),url('fonts/vodafonerg-webfont.ttf') format('truetype'),url('fonts/vodafonerg-webfont.svg#vodafone_rgregular') format('svg');font-weight:normal;font-style:normal}
@font-face{
	font-family:'vodafone_rgbold';
	src:url('fonts/vodafonerg_bd-webfont.eot');
	src:url('fonts/vodafonerg_bd-webfont.eot?#iefix') format('embedded-opentype');
	src:url('fonts/vodafonerg_bd-webfont.woff') format('woff');
	src:url('fonts/vodafonerg_bd-webfont.ttf') format('truetype');
	src:url('fonts/vodafonerg_bd-webfont.svg#vodafone_rgbold') format('svg');
	font-weight:bold;
	font-style:normal
}
@font-face{
	font-family:'vodafone_ltregular';
	src:url('fonts/vodafonelt-webfont.eot');
	src:url('fonts/vodafonelt-webfont.eot?#iefix') format('embedded-opentype'), 
	url('fonts/vodafonelt-webfont.woff') format('woff'), 
	url('fonts/vodafonelt-webfont.ttf') format('truetype'), 
	url('fonts/vodafonelt-webfont.svg#vodafone_ltregular') format('svg');
	font-weight:200;
	font-style:normal
}


/*generic*/
.container-full {
  margin: 0 auto;
  width: 100%;
}

.flash-messages { 
	background:orange;
	color:black;
	text-align: center;
	padding:20px;
	font-size:22px;
	margin-bottom:10px;
	margin-top:10px;
	display:none;
}

.navbar-default {
	background:#CECECE;
	margin-bottom: 0px;
	border-radius: 0;
	z-index:10;
	/*
	box-shadow: 0px 5px 10px #514F4F;
  	  	-webkit-box-shadow:0px 5px 10px #514F4F;
  	  	-moz-box-shadow:0px 5px 10px #514F4F;
  	*/
}

/*top*/
.back-to-site {
	background:#304b56;
	text-align: center;
	padding:15px;
}

.clear { clear:both;}
.back-to-site a { color:white; font-weight: bold;}
.no-pad { padding:0px;}
.no-margin { margin:0;}
.fsize-15 { font-size:15px !important; }
.strong { font-weight:bold; }
.bg-pink { background: #D63B63; }
.bg-white { background:white !important; }
.bg-black { background:black !important; }
.color-pink { color: #D63B63; }
.mbottom-15 { margin-bottom:15px !important;}
.mbottom-20 { margin-bottom:20px !important;}
.no-border { border:0 !important; }
input[type=text] { border:0; }
.abs { position:absolute; }
.angle-180 { 
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.full-h { height: 100%; }
.full-w { width:100%; }
.full-wh { width:100%; height:100%;}
.f-left { float:left; }
.f-right { float:right; }
.no-pad { padding:0px; }

input.input-flat { border:0px; margin:0px; padding:2px; border-radius:0;}
.logo-cont { margin-bottom:20px; }
.transparent { background:transparent; }

.rimmed-right {
	border-right:3px solid transparent;
	border-top:3px solid transparent;
	border-bottom:3px solid transparent;
}

.rimmed-left {
	border-left:3px solid transparent;
	border-top:3px solid transparent;
	border-bottom:3px solid transparent;
}


::-webkit-input-placeholder {
   color: #333;
}

:-moz-placeholder { /* Firefox 18- */
   color: #333;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #333;  
}

:-ms-input-placeholder {  
   color: #333;  
}


/*nav/menu*/
#menu { padding:0; }
#menu .search-cont {   height: 50px; }
#menu .search-cont input {   width: 207px; height:50px; }
.navbar-nav { margin:0; }
.navbar-default li a {
	color:white !important; 
	font-weight: bold;
  	width: 139px;
  	text-align: center;
  	text-transform: uppercase;
}

.navbar-default li a:hover { text-decoration:underline; }
.navbar-default li.dropdown a { float:left; }
.navbar-default li.voice-1 a { background-color:#8DB1D4 !important; }
.navbar-default li.voice-2 a { background-color:rgb(194, 143, 224) !important; }
.navbar-default li.voice-3 a { background-color:#CC8CD0 !important; }
.navbar-default li.voice-4 a { background-color:#E5B4E8  !important; }
.navbar-default li.voice-5 a { background-color:#F09ACB  !important; }
.navbar-default li.voice-icon a {   width: 53px; height:50px; background-size:cover;   }
.navbar-default li.voice-icon-search { 
	background:url("../../resources/images/lens.jpg") no-repeat;
	background-size: cover;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../resources/images/lens.jpg',sizingMethod='scale')"; 
}
.navbar-default li.voice-icon-1 { 
	background:url("../../resources/images/log.jpg") no-repeat;
	background-size: cover;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../resources/images/lock.jpg',sizingMethod='scale')"; 
}
.navbar-default li.voice-icon-2 {
	background:url("../../resources/images/desiderio.jpg") no-repeat;
	background-size: cover;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../resources/images/bac.jpg',sizingMethod='scale')"; 
}
.navbar-default li.voice-icon-3 {
	background:url("../../resources/images/carrello.jpg") no-repeat;
	background-size: cover;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../resources/images/car.jpg',sizingMethod='scale')"; 
}

span.cart-total {
  position: absolute;
  background-color: yellow;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  left: 40px;
}






/*middle*/
.m-body .b1-slider {}
.slider-btn {
	position: absolute;
  top: 155px;
  font-size: 30px;
  color: white;
}  

#slider-next {   right: 10px; }
div#slider-prev { left: 10px; }
.m-body .b1-slider .slider {
	  height: 350px;
	  width: 600px;
	  visibility:hidden;
	  margin: 0 auto;
}

.m-body .b1-slider .footer {
	background:black;
	height:60px;
	padding:10px;
	color: white;
}

.bx-viewport { height: 350px !important; }
.bx-wrapper { overflow: hidden; }
#bx-pager ul { list-style-type: none; display: inline; margin: 0px; padding: 0; }
#bx-pager ul li a { width:10px; float:left; height:10px; margin-right:10px; display:inline-block; background:#EE2A65; border-radius:20px; display:block; }


.m-body .b1-slider .footer a.button-scopri {
  background: #EE2A65;
  text-transform: uppercase;
  padding: 5px;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 22px;
  color: white;
}

/*row1*/
.r1-b2 .vertical-cont { height: 410px; }
.r1-b2 .col-left { background: url("../../resources/images/tuttosposa.png") no-repeat center #9E95D3; }
.r1-b2 .col-right {
	background:url("../../resources/images/b2-2.jpg") no-repeat;
	background-size: cover;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../resources/images/b2-2.jpg',sizingMethod='scale')";
}
.r1-b3 .top-box, .r1-b3 .bottom-box { height:205px; position:relative;}
.r1-b3 .bottom-box .title { 
	top:0px;
	background: rgba(0, 0, 0, 0.5);
	height:50px;
	width:100%;
	text-align:center;
}

/*row2 / row3*/
.r2-b1, .r2-b2, .r2-b3, .r2-b4,
.r3-b1, .r3-b2, .r3-b3, .r3-b4 { height: 315px; background-size: cover !important; padding:0px; }

.r2-b1 {
	background:url("../../resources/images/tessuto1.png") no-repeat;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../resources/images/tessuto1.png',sizingMethod='scale')";
}
.r2-b2 { background:#BB90D0; }
.r2-b3 {
	background:url("../../resources/images/chintz.jpg") no-repeat;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../resources/images/chintz.jpg',sizingMethod='scale')";
}
.r2-b4 { background:#8DB1D4; }


/*row3*/
.r3-b1 { background:#E67B98; }
.r3-b2 { background:url("../../resources/images/bisso.jpg") no-repeat; -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../resources/images/bisso.jpg',sizingMethod='scale')"; }
.r3-b3 { background:#DD8DC4; }
.r3-b4 {
background:url("../../resources/images/acetato.jpg") no-repeat;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../resources/images/acetato.jpg',sizingMethod='scale')";

}

.wireframe {
	border:1px dotted #333;
	min-height:50px;
}

.bx-wrapper .bx-viewport { border:0 !important; }

/*description box*/
.description-box {
	position:relative;
}

.description-box  {
	padding-left:10px;
	padding-top:20px;
	padding-right:30px;
}

.description-box h1 {
	color:white;
	font-size:18px;
	font-weight:bold;
}

.description-box p {
	margin-top:30px;
}

.description-box a { color:black; font-size:19px;}

.description-box .info, .description-box .bottom { height:36px;}

.description-box .fillet {
	background:rgba(0, 0, 0, 0.5);
	padding:5px;
	height:36px;
	position:absolute;
	left:0px;
	width:100%;
	color:white;
	font-size:19px;
	padding-left:10px;
}

.content-title {
	text-align: center;
	color:#DD6B89;
	font-weight: bold;
	font-size:22px;
	margin: 20px;
}
.content-title-simple {
	text-align: center;
	color:black;
	font-size:22px;
	margin: 20px;
}

.detail-title {
	padding:5px;
	color:white;
	background: #344856;
}

.detail-title .col-md-9 { font-size:28px;}
.detail-title .col-md-3 { text-align:right; margin-top: 10px; font-size: 16px; }

div.product-detail { padding-top:20px; }
div.product-detail .fabric-preview  {
	  overflow: hidden;
	  position:relative;
	  height: 225px;
}

div.product-detail .fabric-preview img { 
	-webkit-filter: grayscale(100%);
	filter: gray; filter: grayscale(100%);
	filter: url(desaturate.svg#greyscale);
	 width:100%; height:auto; 
}
div.product-detail .fabric-preview .color-cover { background:#969BBD; width:100%;   height: 225px; opacity:0.6; transition:0.5s ease; position:absolute; top:0px; z-index:10; }

div.product-detail .color-preview { width:30px; }
div.product-detail .color-preview .csample { height: 45px; position: absolute; top: 30px; width: 15px; background:#969BBD; }
div.product-detail .color { margin-bottom:5px; height:45px; }
div.product-detail .color-1 { background: #969BBD; }
div.product-detail .color-2 { background: #9C7387; }
div.product-detail .color-3 { background: #329FD6; }
div.product-detail .color-4 { background: #9A179C; }

div.product-detail .info-part { font-size:18px; color:#565656; margin-right:50px; }
div.product-detail .message { color:#DD6B89; font-weight:bold; font-size:17px; }
div.product-detail .total-fill { color:white; font-size:22px; background:#D63B63; height:35px; padding:4px; }
div.product-detail input[name='meters'] { background:#ddd; width:100%; padding:3px;}

div.shipments-info { border-top:1px solid black; border-bottom:1px solid black; margin-top:30px; padding:10px;}
div.shipments-info .pan { float:left; border-right:1px solid black;   padding: 1%; text-align:center; font-size:0.95em; min-height:50px; }
div.shipments-info .pan p { margin:0;}
p.large-text { font-size:2em !important; }


div.buttons-tools { margin-top:10px; }
div.buttons-tools .tbtn { padding:2px; }
div.buttons-tools .tbtn a { color:white; text-align: center; display:block; height:auto; padding:3px; font-size:22px; }
div.buttons-tools .btn-2 a { background:#515151; }
div.buttons-tools .btn-3 a { background:#C7C7C7; }
div.buttons-tools .btn-4 a { background:#344856; }



/*cart*/
.cart .cpanel h1 {
  font-size: 29px;
  border-top: 1px solid rgb(212, 212, 212);
}

.cart .cpanel h2 {
	color:#CDCDCD;
	font-size:23px;
	font-weight:bold;
	margin:2px;
}

.cart .cpanel input.grey-input {
	padding:5px;
	font-size:15px;
	width:100%;
	height:50px;
	background:#DDD;
	margin-top:5px;
}

.cart .inputs-title {
	background:#DDD;
	color:black;
	height:50px;
	padding:10px;
	margin-bottom:5px;
}

.cart .colored-box { 
	height:30px;
	width:30px;
	float:left;
	margin-right:10px;
}

.cart .inputs-title .text { font-size:22px; }


.payments-methods {
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}

div.cradio { border:1px solid #DDD; }
div._radio-sel { background:#D63B63 !important;}


table.ship-summary {

}

table.ship-summary thead th.product, 
table.ship-summary thead th.qty, 
table.ship-summary thead th.price { 
	width:33%; font-size:1.3em; 
}

table.ship-summary td.product { font-size:15px; font-weight:bold; }
table.ship-summary td.qty { font-size:25px; color:#919191; }
table.ship-summary td.price { font-size:25px; color:#919191; text-align:right; }

.total-box { 
	border-top:1px solid #333;
	border-bottom:1px solid #333;
	padding:10px;
	height:55px;
	font-size:25px;
}

a.send-order {
	display:block;
	padding:10px;
	height:47px;
	color: white;
	font-size:22px;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	.navbar-default li a {
	  width: 100% !important;
	}

	div.shipments-info .pan { border:0 !important;}
}

@media only screen
and (max-width : 320px) {
.navbar-default li a {
	  width: 100% !important;
	}
}

@media only screen
and (max-width : 780px) {
.navbar-default li a {
	  width: 100% !important;
	}
	div.shipments-info .pan { border:0 !important;}
}



@media only screen
and (min-width : 1240px) {
#menu .search-cont input {
  	  width: 260px;
  }
}